#
# Ci-dessous les variables pour configurer les conteneurs de selfsudoc-docker
# Marche à suivre:
#   il faut copier ce fichier dans un fichier .env
#   avant de démarrer l'application avec docker-compose up
#

######################################################
# Paramètres globaux
######################################################
MEM_LIMIT=4g
CPU_LIMIT=1

SELFSUDOC_BATCH_VERSION=develop-batch
SELFSUDOC_WEB_VERSION=develop-front

######################################################
# Paramétrage des selfsudoc-batch
######################################################
SELFSUDOC_BATCH_TECHNIC_RENDER_JAVA_OPTIONS="-Djava.security.egd=file:///dev/urandom -Xmx1600m -Djaxp.debug=1 -Djavax.xml.parsers.SAXParserFactory=org.apache.xerces.jaxp.SAXParserFactoryImpl -Djavax.xml.transform.TransformerFactory=net.sf.saxon.TransformerFactoryImpl -Dlog4j.configurationFile=file:/conf/log4j2.xml"
SELFSUDOC_BATCH_EXTRACT_JAVA_OPTIONS="-Dfile.encoding=UTF-8 -Dlog4j.configurationFile=file:/conf/log4j2.xml -Djdbc.drivers=oracle.jdbc.driver.OracleDriver"

SELFSUDOC_BATCH_PATH_LIBS_EXT="./volumes/libs"
SELFSUDOC_BATCH_PATH_CONF="./volumes/conf"
SELFSUDOC_BATCH_PATH_DOCBASE="/applis/selfSudoc"

######################################################
# Paramétrage des selfsudoc-web-front
######################################################
SELFSUDOC_WEB_PATH_CONTEXT=./volumes/web/context.xml
SELFSUDOC_WEB_PATH_SERVER=./volumes/web/server.xml
SELFSUDOC_WEB_PORT=8080
